@{
    ViewBag.Title = "Sample";
}

<form>
<fieldset>
    <legend>Add Note</legend>

    <div class="control-group">
        <label class="control-label" for="description">Name</label>
        <div class="controls">
            <input type="text" name="name" data-error-style="tooltip" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="created">Created</label>
        <div class="controls">
            <input type="date" name="created" data-error-style="tooltip" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="age">Age</label>
        <div class="controls">
            <input type="text" name="age" data-error-style="tooltip" />
        </div>
    </div>
    <div class="form-actions">
        <a href="#" class="save btn btn-primary">Save</a>
    </div>
</fieldset>
</form>

<script>
    
</script>